@import '~@fluentui/react/dist/sass/References.scss';
// In WorldBloodMap.module.scss

.worldBloodMap {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.welcome {
  text-align: center;
  margin-bottom: 0; // Reduced from 10px to 5px to decrease space
}
.welcome h1,
.welcome p {
  margin: 0%; /* Eliminate default margins on child elements */
}

.mapContainer {
  height: 500px;
  margin-top: -65px; /* Pull the map container closer to the welcome section */
  margin-bottom: -70px; /* Add space between the map and the description */
}

.description {
  text-align: center;
  margin-bottom: 50px;
}

.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}